<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
</head>
<body style="height:100%">
<% include templates/header.ejs%>
<div class="container" style="margin-top:50px; padding-bottom:70px; padding:30px">
    <div class="row" style="margin-bottom:30px">
        <h1>Contact us</h1>
    </div>
    <div class="row" style="margin-bottom:57px;">
        <div class="col-lg-12">
            <p>
                <h4>For more information about the club, please email one of our two presidents:</h4>
                <br><br>
                <h4 style="text-decoration: underline; margin-bottom:0">Parker Greene</h4>
                greenepp2@vcu.edu
                <br><br>
                <h4 style="text-decoration: underline; margin-bottom:0">Justin Gardner</h4>
                gardnerjg@vcu.edu
                <h4 style="margin-top: 100px">If you have a problem with this site or viewing content, please email Tyler Haden: hadentj@vcu.edu</h4>
            </p>
        </div>
    </div>
</div>
<% include templates/footer.ejs%>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>
