<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<% include templates/header.ejs%>
<div class="container" style="margin-top:50px; padding-bottom:70px; padding:30px">
    <div class="row" style="margin-bottom:30px">
        <h1>Events</h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>
                These are our up comming events.  These include activities that we are sponsoring,
                along with events that our memebers are participating in at other organizations or businesses.
                Not included are our normal weekly meetings, and weekly study sessions.  <br><br>For information about
                our weekly activities, please visit our <a href="/#about">About page</a>, or our
                <a href="programs/secplus">Security+ Study Group page</a>.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a href="https://www.linkedin.com/in/parker-greene-648402a2" class="thumbnail">
                <img src="/images/IMG_0147 - Copy.JPG" alt="image" style="height:150px;width:150px;" class="img-thumbnail img-responsive">
            </a>
        </div>
        <div class="col-lg-9">
            <h4>Parker Greene | President</h4>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac  Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac  Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a href="https://www.linkedin.com/in/justin-gardner-33294849" class="thumbnail">
                <img src="/images/IMG_0147 - Copy.JPG" alt="image" style="height:150px;width:150px;" class="img-thumbnail img-responsive img-circle">
            </a>
        </div>
        <div class="col-lg-9">
            <h4>Justin Gardner | President</h4>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac  Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac  Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a href="https://www.linkedin.com/in/justin-daschner-b21a92ab" class="thumbnail">
                <img src="/images/IMG_0147 - Copy.JPG" alt="image" style="height:150px;width:150px;" class="img-thumbnail img-responsive img-circle">
            </a>
        </div>
        <div class="col-lg-9">
            <h4>Justin Daschner | Vice President</h4>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac  Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac  Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a href="https://www.linkedin.com/in/jeetg" class="thumbnail">
                <img src="/images/IMG_0147 - Copy.JPG" alt="image" style="height:150px;width:150px;" class="img-thumbnail img-responsive img-circle">
            </a>
        </div>
        <div class="col-lg-9">
            <h4>Jeet Gajjar | Treasurer</h4>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac  Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac  Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a href="https://www.linkedin.com/in/tyler-haden-6902b7a8" class="thumbnail">
                <img src="/images/IMG_0147 - Copy.JPG" alt="image" style="height:150px;width:150px;" class="img-thumbnail img-responsive img-circle">
            </a>
        </div>
        <div class="col-lg-9">
            <h4>Tyler Haden | Senior Web Developer</h4>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac  Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac  Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a href="https://www.linkedin.com/in/jayguan" class="thumbnail">
                <img src="/images/IMG_0147 - Copy.JPG" alt="image" style="height:150px;width:150px;" class="img-thumbnail img-responsive img-circle">
            </a>
        </div>
        <div class="col-lg-9">
            <h4>DongChen(Jay) Guan | Event Coordinator</h4>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac  Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac  Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        </div>
    </div>


</div>
<% include templates/footer.ejs%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>
