<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
</head>
<body style="height:100%">
<% include templates/header.ejs%>
<div class="container" style="margin-top:50px; padding-bottom:70px; padding:30px">
    <div class="row" style="margin-bottom:10px">
        <h1>Resources</h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>Sites to Visit</h2>
            <ul>
                <li><a href="http://www.zerodayinitiative.com/advisories/upcoming/">Zero-Day-Initiative</a></li>
                <li><a href="https://twit.tv/shows/security-now">TWiT - Security Now</a></li>
                <li><a href="https://certification.comptia.org/certifications">Comptia Certifications</a></li>
                <li><a href="https://www.sans.org/">SANS - Information Security Training</a></li>
                <li><a href="https://www.eccouncil.org/">EC Council - Certified Ethical Hacker</a></li>
                <li><a href="https://www.isc2.org/cissp/default.aspx">ISC<sup>2</sup> - CISSP</a></li>
                <li><a href="https://www.sans.org/">SANS - Information Security Training</a></li>
            </ul>
        </div><!-- /.col-lg-4 -->
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <h2>Hacking Youtube Channels</h2>
            <ul>
                <li><a href="https://www.youtube.com/user/DEFCONConference/feed">DEF CON</a></li>
                <li><a href="https://www.youtube.com/show/hak5">HAK5</a></li>

            </ul>
        </div><!-- /.col-lg-4 -->
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <h2>Club Materials</h2>
            <p class="alert-warning">NOTE: These materials were either written by club members, or given to the club for internal use only.
                You must be a member of the organization on our Collegiate Link account.  <br>If you wish to become a member, please
                <a href="/contact">contact</a> one of our presidents.</p>
            <ul>
                <li><a href="https://vcu.collegiatelink.net/organization/cybersecurity/DocumentLibrary/view/372761" class="btn-link">Blue Team Presentation</a></li>
                <li><a href="https://vcu.collegiatelink.net/organization/cybersecurity/DocumentLibrary/view/386160" class="btn-link">Deep Dive into the Blue</a></li>
            </ul>
            <h4>Materials for our <a href="programs/secplus">Security+ Study Group</a></h4>
            <ul>
                <li><a href="https://vcu.collegiatelink.net/organization/cybersecurity/DocumentLibrary/view/435603" class="btn-link">Security+ Chapter 6 Presentation</a></li>
                <li><a href="https://vcu.collegiatelink.net/organization/cybersecurity/DocumentLibrary/view/435604" class="btn-link">Security+ Chapter 7 Presentation</a></li>
                <li><a href="https://vcu.collegiatelink.net/organization/cybersecurity/DocumentLibrary/view/435628" class="btn-link">Security+ Chapter 8 Presentation</a></li>
                <li><a href="https://vcu.collegiatelink.net/organization/cybersecurity/DocumentLibrary/view/435629" class="btn-link">Security+ Chapter 8 Notes</a></li>
            </ul>
        </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->



</div>
<% include templates/footer.ejs%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>
