<div class="container" style="height:70px;bottom:0">
    <hr class="featurette-divider">
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>© 2016 Cyber Security Club @ VCU · <a href="/">Home</a> · <a href="/contact">Contact</a> · <a href="https://vcu.collegiatelink.net/organization/cybersecurity">MyOrgs Page</a> </p>
    </footer>
</div>
