<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button  type="button" class="navbar-toggle collapsed" style="padding: 9px 10px; margin-top: 8px; margin-left: 0px;margin-right: 15px; margin-bottom: 8px;"
                     data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar" style="background-color: #febe10"></span>
                <span class="icon-bar" style="background-color: #febe10"></span>
                <span class="icon-bar" style="background-color: #febe10"></span>

            </button>
            <a class="navbar-brand" href="/">Cyber Security Club @ VCU</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!--<li><a class="nav-bar collapsed" href="/#about" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">About</a></li>
                -->
                <li><a href="/#about">About</a></li>
                <!--li><a href="/news">News</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/hSpace">Hacker Space</a></li-->
                <li><a href="/leadership">Leadership</a></li>
                <li><a href="/contact">Contact us</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Links<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header"><h4><a href="/programs" style="color: #333">Current Programs</a></h4></li>
                        <!--<li><a href="/programs/bounty">Bounty Program</a></li>-->
                        <!--<li><a href="/programs/capturetheflag">Capture the Flag</a></li>-->
                        <!--<li><a href="/programs/auditgroup">Audit Group</a></li>-->
                        <li><a href="/programs/secplus">Security+ Study Group</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/resources">Resources</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://www.vcu.edu/"  style="width: 120px; height: 50px;";><% include ../../public/images/VCU-Logo2.svg %></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
