<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
</head>
<body style="height:100%">
    <% include ../templates/header.ejs%>
    <div class="container" style="margin-top:50px; padding-bottom:70px; padding:30px; min-height: 100%">
        <div class="row" style="margin-bottom:30px">
            <h1>Security+ Study Group</h1>
        </div>
        <div class="row" style="margin-bottom:240px;">
            <div class="col-lg-12">
                <p>Parker Greene ran a weekly study group over the past spring semester.  The group
                used the official CompTIA Security+ Study Guide SY0-401.  The online version of the book is available for
                free to VCU students on the library's website.<br><br>New chapters were covered every week, along with
                demonstrations of the tools, and techniques tested on the certification. Students were also encouraged
                to create presentations or study materials for use of other members.  <br><br>
                These materials can be found on the <a href="../resources">resources</a> page, or on our
                    <a href="https://vcu.collegiatelink.net/organization/cybersecurity">Collegiate Link</a> site.</p>

                <br>
                <br>
                <h3>Information of the upcoming fall study group sessions is coming soon!<h3>
            </div>
        </div>
    </div>
<% include ../templates/footer.ejs%>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>
